<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Second Screen</title>
</head>
<body>
<div class="container-fluid">
  <div class="row text-center">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <mat-label style="font-weight: bolder; font-size: 34px">
            <b>Other Information</b>
          </mat-label>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <mat-label style="font-weight: bolder">
            <b>General Information</b>
          </mat-label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
      <div class="headline3"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
      <mat-form-field class="material-full-width" style="width: 300px">
        <mat-label>
          Resource Group Name
        </mat-label>
        <input matInput [(ngModel)]='ss.generalInfo.resourceGroupName' name="resourceGroupName" id="resourceGroupName">
      </mat-form-field>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
      <mat-form-field class="material-full-width" style="width: 300px">
        <mat-label>
          Resource Group Location
        </mat-label>
        <mat-select [(ngModel)]='ss.generalInfo.resourceGroupLocation' name="resourceGroupLocation"
                    id="resourceGroupLocation">
          <mat-option *ngFor="let data of rgLocData" [value]="data.code">
            {{data.label}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <mat-label style="font-weight: bolder">
            <b>Virtual Machine Information</b>
          </mat-label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
      <div class="headline3"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
      <mat-form-field class="material-full-width" style="width: 300px">
        <mat-label>
          Virtual Machine Name
        </mat-label>
        <input matInput [(ngModel)]='ss.vmInfo.vmName' name="vmName" id="vmName">
      </mat-form-field>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
      <mat-form-field class="material-full-width" style="width: 300px">
        <mat-label>
          Instance Type
        </mat-label>
        <mat-select [(ngModel)]='ss.vmInfo.instanceType' name="instanceType" id="instanceType">
          <mat-option *ngFor="let data of instTypeData" [value]="data.code">
            {{data.label}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
      <mat-form-field class="material-full-width" style="width: 300px">
        <mat-label>
          SKU Capacity
        </mat-label>
        <input matInput [(ngModel)]='ss.vmInfo.skuCapacity' name="skuCapacity" id="skuCapacity">
      </mat-form-field>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
      <mat-form-field class="material-full-width" style="width: 300px">
        <mat-label>
          Admin Username
        </mat-label>
        <input matInput [(ngModel)]='ss.vmInfo.adminUsername' name="adminUsername" id="adminUsername">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <mat-label style="font-weight: bolder">
            <b>Storage Account Information</b>
          </mat-label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
      <div class="headline3"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
      <mat-form-field class="material-full-width" style="width: 300px">
        <mat-label>
          Storage Account Name
        </mat-label>
        <input matInput [(ngModel)]='ss.fileShareStorageAccountInfo.storageAccountName' name="storageAccountName"
               id="storageAccountName">
      </mat-form-field>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
      <mat-form-field class="material-full-width" style="width: 300px">
        <mat-label>
          Account Tier
        </mat-label>
        <mat-select [(ngModel)]='ss.fileShareStorageAccountInfo.accountTier' name="accountTier" id="accountTier">
          <mat-option *ngFor="let data of accountTier" [value]="data.code">
            {{data.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
      <mat-form-field class="material-full-width" style="width: 300px">
        <mat-label>
          Storage Account Replication Type
        </mat-label>
        <mat-select [(ngModel)]='ss.fileShareStorageAccountInfo.storageAccountReplicationType'
                    name="storageAccountReplicationType" id="storageAccountReplicationType">
          <mat-option *ngFor="let data of storageAccountReplicationType" [value]="data.code">
            {{data.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
      <mat-form-field class="material-full-width" style="width: 300px">
        <mat-label>
          No. of Watch Folders
        </mat-label>
        <input matInput [(ngModel)]='ss.fileShareStorageAccountInfo.numOfWatchFolder'
               name="numOfWatchFolder" id="numOfWatchFolder">
      </mat-form-field>
    </div>
  </div>


  <!--
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <mat-label style="font-weight: bolder">
              <b>Container Storage Account Information</b>
            </mat-label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
        <div class="headline3"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
        <mat-form-field class="material-full-width" style="width: 300px">
          <mat-label>
            Storage Account Name
          </mat-label>
          <input matInput [(ngModel)]='ss.containerStorageAccountInfo.storageAccountName' name="cStorageAccountName" id="cStorageAccountName">
        </mat-form-field>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
        <mat-form-field class="material-full-width" style="width: 300px">
          <mat-label>
            Account Tier
          </mat-label>
          <input matInput [(ngModel)]='ss.containerStorageAccountInfo.accountTier' name="cAccountTier" id="cAccountTier">
        </mat-form-field>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
        <mat-form-field class="material-full-width" style="width: 300px">
          <mat-label>
            Storage Account Replication Type
          </mat-label>
          <input matInput [(ngModel)]='ss.containerStorageAccountInfo.storageAccountReplicationType'
                 name="cStorageAccountReplicationType" id="cStorageAccountReplicationType">
        </mat-form-field>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
      </div>
    </div>

  -->

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <mat-label style="font-weight: bolder">
            <b>SQL Database Information</b>
          </mat-label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
      <div class="headline3"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
      <mat-form-field class="material-full-width" style="width: 300px">
        <mat-label>
          SQL Database Name
        </mat-label>
        <input matInput [(ngModel)]='ss.sqlDatabaseInfo.sqlDatabaseName' name="sqlDatabaseName" id="sqlDatabaseName">
      </mat-form-field>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
      <mat-form-field class="material-full-width" style="width: 300px">
        <mat-label>
          SQL Database Edition
        </mat-label>
        <mat-select [(ngModel)]='ss.sqlDatabaseInfo.sqlDatabaseEdition' name="sqlDatabaseEdition"
                    id="sqlDatabaseEdition">
          <mat-option *ngFor="let data of dbEditionData" [value]="data.code">
            {{data.label}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
      <mat-form-field class="material-full-width" style="width: 300px">
        <mat-label>
          SQL Database Collation
        </mat-label>
        <mat-select [(ngModel)]='ss.sqlDatabaseInfo.sqlDatabaseCollation' name="sqlDatabaseCollation"
                    id="sqlDatabaseCollation">
          <mat-option *ngFor="let data of dbCollationData" [value]="data.code">
            {{data.label}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
      <mat-form-field class="material-full-width" style="width: 300px">
        <mat-label>
          Service Objective Name
        </mat-label>
        <mat-select [(ngModel)]='ss.sqlDatabaseInfo.serviceObjectiveName' name="serviceObjectiveName"
                    id="serviceObjectiveName">
          <mat-option *ngFor="let data of serviceObjectiveName" [value]="data.code">
            {{data.label}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
      <mat-form-field class="material-full-width" style="width: 300px">
        <mat-label>
          SQL Server Version
        </mat-label>
        <mat-select [(ngModel)]='ss.sqlDatabaseInfo.sqlServerVersion' name="sqlServerVersion" id="sqlServerVersion">
          <mat-option *ngFor="let data of dbVersionData" [value]="data.code">
            {{data.label}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
      <mat-form-field class="material-full-width" style="width: 300px">
        <mat-label>
          SQL Admin Username
        </mat-label>
        <input matInput [(ngModel)]='ss.sqlDatabaseInfo.sqlAdminUsername' name="sqlAdminUsername" id="sqlAdminUsername">
      </mat-form-field>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
      <mat-form-field class="material-full-width" style="width: 300px">
        <mat-label>
          SQL Password
        </mat-label>
        <input  type="password"  matInput [(ngModel)]='ss.sqlDatabaseInfo.sqlPassword' name="sqlPassword" id="sqlPassword">
      </mat-form-field>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
      <mat-form-field class="material-full-width" style="width: 300px">
        <mat-label>
          SQL Server Name
        </mat-label>
        <input matInput [(ngModel)]='ss.sqlDatabaseInfo.sqlServerName' name="sqlServerName" id="sqlServerName">
      </mat-form-field>
    </div>
  </div>

  <div class="row mt-2 mb-5">
    <div class="text-right col-xl-9 col-lg-9 col-md-9 col-sm-9 button float-right">
    </div>
    <div class="text-right col-xl-3 col-lg-3 col-md-3 button float-right">
      <button type="button" mat-stroked-button color="primary" id="btnSave" class="mr-3 btnColorClass"
              (click)="postAzureSecond()">Save
      </button>
      <button type="button" mat-stroked-button class="btnColorClass" id="btnDeploy" color="primary" (click)="postDeploy()">Deploy</button>
    </div>
  </div>
</div>
</body>
</html>
